body {
  font-family: sans-serif;
  color: rgb(0, 0, 20);
  background-color: rgba(218, 214, 214, 0.103);
}
h1 {
  letter-spacing: 2px;
  color: rgb(98, 98, 143);
  padding: 5px;
}
#description{
  max-height: 200px;
  margin:5px 0 15px 0;
}
label{
  padding: 20px 0 5px 0;
}
textarea{
  min-height: 100px;
  max-height: 150px;
}
.couleur-nav{
  background-color: #173e4c;
}

hr{
  background-color:#fff;
  margin-bottom: 50px;