body{
	background-color: #173e4c;
}

.couleur-nav{
	background-color: #173e4c;
}

hr{
	background-color:#fff;
	margin-bottom: 50px;
}
h1{
	display: flex;
	justify-content: center;
	color:#fff;
}
p{
	color: #fff;
	font-size: 20px;
}
#imp{
	height: 40px;
	margin: 10px;
}

.ligne1{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin :30px;
}

.ligne2{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.card{
	margin: 50px;
	width: 25rem;
}
.card-text{
	height: 60px;
}