body
{
  font-family: 'Libre Caslon Text', serif;
  background-color: #173e4c;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
}
p
{
  margin: 25px;
}
hr
{
  background: #fff;
}
#content
{
  display: flex;
  justify-content: space-between;
}
#app1
{
 
  display: flex;
  flex-direction: column;
}
#sommaire
{
  display: flex;
  flex-direction: column;
}
.dev-web
{
  font-family: 'Libre Caslon Text', serif;
  border: solid 1px #fff;
  margin: 30px;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0px 1px 5px 2px #000;
  width: 70%;
  height:20%;
}
.lien
{
  font-size: 50px;
  margin-top: 50px;
  background: red;
}
.dev-web h2
{
  text-align: center;
}

.border1
{
  border: solid 5px rgb(194, 174, 174);
  border-radius: 2px; 
  text-shadow: 1px 1px 2px #000;
  margin:20px;
  font-style: italic;
}
.param
{
  display: flex;
  justify-content: space-around;
}
.nav-pills .nav-link.active {
  background-color: #173e4c;
  font-weight: bold;
}















